-e git+https://github.com/nCoda/mercurial-hug.git@476c8ef2fe0f4a8cffbf1ff047afeee5cbc58469#egg=mercurial_hug
-e git+https://github.com/nCoda/lychee.git@9490643aef5ddad8737d45ccf4c264a0b3915eb4#egg=Lychee
-e git+https://github.com/nCoda/fujian.git@c805e417cde3197defd5b82fffd7a2a0e424733d#egg=Fujian
tornado==4.5.1
Abjad==2.21
biplist==1.0.2
py2app==0.14
